#API KEYS
API_KEY_MISTRAL = <API KEY>

#API INFOS
RAG_API_URL = "http://api"   
RAG_API_PORT = 8000

#OPEN AGENDA API
OPENAGENDA_API_URL = "https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/evenements-publics-openagenda/records"
OPENAGENDA_LOCATION_FILTER = "location_city='Lille'"
# Date au format YYYY-MM-DD
OPENAGENDA_START_DATE = "2026-06-01"
OPENAGENDA_END_DATE = "2027-10-01"
OPENAGENDA_MAX_EVENTS = 3000